# Comments & Basic Data

In [1]:
# this is a comment

In [2]:
print("Hello") # this is also a comment

Hello

In [3]:
"""
    this is a multi-line comment
"""
print("Hello") # this is also a comment

Hello

Integers

In [5]:
# the following are all integers
print(2)
print(10)

2
10

Floats

In [6]:
# the following are all floats
print(10.953)
print(8.0) # this is also a float

10.953
8.0

Booleans

In [7]:
# the following are all booleans
print(True)
print(False)

True
False

Strings

In [8]:
# the following are all strings
print("")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

Monday Exercises

In [14]:
print("Adam Lecznar")
type(37/3)

Adam Lecznar

float

Variables

In [15]:
num1 = 5    # storing an integer into variable
num2 = 8.4    # storing a float into a variable
print(num1,num2)

5 8.4

In [17]:
# storing a boolean into a variable
name = 'John Smith'
fav_num = '9'
print(name,fav_num)    # will print 9 next to the name

John Smith 9

In [18]:
# using two variables to create a new variable
result = num1 + num2
print(result)

13.4

In [19]:
# adding, deleting, multiplying, and dividing from a variable
result += 1    # the same as saying result = result + 1
print(result)
result *= num1    # the same as saying result = result * num1
print(result)

14.4
72.0

In [20]:
# defining a variable and overwriting its value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

Tuesday Exercises

In [21]:
x = 3
y = 10
result = x * y
print(result)
print(x,"+",y,"=",x + y)

30
3 + 10 = 13

In [26]:
leng = 245.54
hgt = 13.66
area = leng * hgt
print(area)

3354.0764

Working with Strings

In [27]:
# using the addition operator without variables
name = 'John' + " " + 'Smith'
print(name)

John Smith

In [28]:
# using the addition operator with variables
first_name = 'John'
last_name = 'Smith'
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [34]:
# injecting variables using the format method
name = "John"
print( "Hello {} ".format(name))
print( "Hello {}, you are {} years old!".format(name,28) )

Hello John
Hello John, you are 28 years old!

In [36]:
# using the new f strings
name = "John"
print( f"Hello {name}")

Hello John

In [37]:
# one major difference between python2 and python3
name = "John"
print("Hello %s"%name)

Hello John

In [39]:
# python2 multiple variable formatting
first_name = "John"
last_name = "Smith"
print("Hello %s %s"%(first_name,last_name))
    # surround the variables in parentheses

Hello John Smith

In [40]:
# using indexes to print out each element
word = "Hello"
print(word[ 0 ])    # will print out 'H'
print(word[ 1 ])    # will print out 'e'
print(word[ -1 ])    # will print out 'o'

H
e
o

In [42]:
print(word[ 0 : 2 ])    # will print out 'He'
print(word[ 0 : 5 : 2 ])    # will print out 'Hl0'

He
Hlo

Wednesday Exercises

In [43]:
intr = 24
flt = 4.5
boo = False
name = "John"
print("{} {} {} {}".format(intr,flt,boo,name))

24 4.5 False John

In [44]:
name = "Adam"
sport = "basketball"
program = "python"
print("{}'s favorite sport is {}".format(name,sport))
print(f"{name} is working on {program} programming!")

Adam's favorite sport is basketball
Adam is working on python programming!