# Comments & Basic Data

In [1]:
# this is a comment

In [2]:
print("Hello") # this is also a comment

Hello

In [3]:
"""
    this is a multi-line comment
"""
print("Hello") # this is also a comment

Hello

Integers

In [5]:
# the following are all integers
print(2)
print(10)

2
10

Floats

In [6]:
# the following are all floats
print(10.953)
print(8.0) # this is also a float

10.953
8.0

Booleans

In [7]:
# the following are all booleans
print(True)
print(False)

True
False

Strings

In [8]:
# the following are all strings
print("")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

Monday Exercises

In [14]:
print("Adam Lecznar")
type(37/3)

Adam Lecznar

float

Variables

In [15]:
num1 = 5    # storing an integer into variable
num2 = 8.4    # storing a float into a variable
print(num1,num2)

5 8.4

In [17]:
# storing a boolean into a variable
name = 'John Smith'
fav_num = '9'
print(name,fav_num)    # will print 9 next to the name

John Smith 9

In [18]:
# using two variables to create a new variable
result = num1 + num2
print(result)

13.4

In [19]:
# adding, deleting, multiplying, and dividing from a variable
result += 1    # the same as saying result = result + 1
print(result)
result *= num1    # the same as saying result = result * num1
print(result)

14.4
72.0

In [20]:
# defining a variable and overwriting its value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

Tuesday Exercises

In [21]:
x = 3
y = 10
result = x * y
print(result)
print(x,"+",y,"=",x + y)

30
3 + 10 = 13

In [26]:
leng = 245.54
hgt = 13.66
area = leng * hgt
print(area)

3354.0764

Working with Strings

In [27]:
# using the addition operator without variables
name = 'John' + " " + 'Smith'
print(name)

John Smith

In [28]:
# using the addition operator with variables
first_name = 'John'
last_name = 'Smith'
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [34]:
# injecting variables using the format method
name = "John"
print( "Hello {} ".format(name))
print( "Hello {}, you are {} years old!".format(name,28) )

Hello John
Hello John, you are 28 years old!

In [36]:
# using the new f strings
name = "John"
print( f"Hello {name}")

Hello John

In [37]:
# one major difference between python2 and python3
name = "John"
print("Hello %s"%name)

Hello John

In [39]:
# python2 multiple variable formatting
first_name = "John"
last_name = "Smith"
print("Hello %s %s"%(first_name,last_name))
    # surround the variables in parentheses

Hello John Smith

In [40]:
# using indexes to print out each element
word = "Hello"
print(word[ 0 ])    # will print out 'H'
print(word[ 1 ])    # will print out 'e'
print(word[ -1 ])    # will print out 'o'

H
e
o

In [42]:
print(word[ 0 : 2 ])    # will print out 'He'
print(word[ 0 : 5 : 2 ])    # will print out 'Hl0'

He
Hlo

Wednesday Exercises

In [43]:
intr = 24
flt = 4.5
boo = False
name = "John"
print("{} {} {} {}".format(intr,flt,boo,name))

24 4.5 False John

In [44]:
name = "Adam"
sport = "basketball"
program = "python"
print("{}'s favorite sport is {}".format(name,sport))
print(f"{name} is working on {program} programming!")

Adam's favorite sport is basketball
Adam is working on python programming!

Manipulating Strings

In [2]:
# using the title method to capitalize a string
name = 'john smith'
print( name.title() )
print( name.upper() )
print( name.lower() )

John Smith
JOHN SMITH
john smith

In [3]:
# replacing an exclamation point with a period
words = 'Hello there!'
print( words.replace('!','.') )

Hello there.

In [5]:
# finding the starting index of our searched term
s = "Look over that way"
print( s.find("over") )

5

In [6]:
# removing white space with strip
name = "   john   "
print( name.strip() )
print( name.lstrip() )
print( name.rstrip() )

john
john
   john

In [8]:
# converting a string into a list of words
s = "These words are separated by spaces"
print( s.split(" ") )

['These', 'words', 'are', 'separated', 'by', 'spaces']

Thursday Exercises

In [9]:
# Uppercasing
upr = 'uppercase'
print( upr.upper() )
# Stripping
name = "$$John Smith"
print( name.lstrip("$") )
print( name.strip("$") )

UPPERCASE
John Smith
John Smith

Friday Project: Printing Receipts

In [10]:
# create a product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

# create a company name and information
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

# declare ending message
message = "Thanks for shopping with us today!"

In [11]:
# create the top border
print("*" * 50)

**************************************************

In [13]:
# print company information first
print( "\t\t{}".format( company_name.title() ) )
print( "\t\t{}".format(company_address) )
print( "\t\t{}".format(company_city) )

		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA

In [14]:
# print a line between sections
print("=" * 50)

==================================================

In [15]:
# print out header for section of items
print("\tProduct Name\tProduct Price")

	Product Name	Product Price

In [18]:
# create a print statement for each product
print( "\t{}\t\t${}".format(p1_name.title(),p1_price) )
print( "\t{}\t${}".format(p2_name.title(),p2_price) )
print( "\t{}\t\t${}".format(p3_name.title(),p3_price) )

	Books		$49.95
	Computer	$579.99
	Monitor		$124.89

In [19]:
# print a line between sections
print("=" * 50)

==================================================

In [20]:
# print out header for section of total
print("\t\t\tTotal")

			Total

In [22]:
# calculate the total price and print out
total = p1_price + p2_price + p3_price
print( "\t\t\t{}".format(total) )

			754.83

In [23]:
# print a line between sections
print("=" * 50)

==================================================

In [24]:
# output thank you message
print( "\n\t{}\n".format(message) )

	Thanks for shopping with us today!

In [25]:
# print bottom border
print("*" * 50)

**************************************************

Weekly Exercises

In [48]:
# create a product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

# create a company name and information
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

# declare ending message
message = "Thanks for shopping with us today!"

# create the top border
print("*" * 50)

# print company information first
print( "*\t\t{}\t\t *".format( company_name.title() ) )
print( "*\t\t{}\t\t *".format(company_address) )
print( "*\t\t{}\t\t\t *".format(company_city) )

# print a line between sections
print("*" + "=" * 48 + "*")

# create a print statement for each product
print( "*\t{}\t\t${}\t\t\t *".format(p1_name.title(),p1_price) )
print( "*\t{}\t${}\t\t\t *".format(p2_name.title(),p2_price) )
print( "*\t{}\t\t${}\t\t\t *".format(p3_name.title(),p3_price) )

# print a line between sections
print("*" + "=" * 48 + "*")

# print out header for section of total
print("*\t\t\tTotal\t\t\t *")

# calculate the total price and print out
total = p1_price + p2_price + p3_price
print( "*\t\t\t${}\t\t\t *".format(total) )

# print a line between sections
print("*" + "=" * 48 + "*")

# output thank you message
print( "*" + "\t" * 6 + " *" + 
           "\n*\t{}\t *".format(message) + 
           "\n*" + "\t" * 6 + " *" )

# print bottom border
print("*" * 50)

**************************************************
*		Coding Temple, Inc.		 *
*		283 Franklin St.		 *
*		Boston, MA			 *
*================================================*
*	Books		$49.95			 *
*	Computer	$579.99			 *
*	Monitor		$124.89			 *
*================================================*
*			Total			 *
*			$754.83			 *
*================================================*
*						 *
*	Thanks for shopping with us today!	 *
*						 *
**************************************************

In [59]:
s = 'Hello'
print(s[::-1])

olleH